<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="kegDiv" *ngFor="let keg of kegs">
    <h2 class="brandHeader">{{keg.brand}}</h2>
    <h5>{{keg.name}}</h5>
    <p>{{keg.type}}</p>
    <p>{{keg.alcoholContent}}% alcohol content</p>
    <p id="priceTag" [class]="fiveDollarPint(keg)">${{keg.price}} / {{keg.pourVolumn}} pint</p>

    <p [class]="alertTen(keg)">{{keg.kegVolumn}}</p>


    <button (click)="editName(keg)">Edit Name</button>
    <button (click)="pourBeer(keg)">Pint count</button>
    <button (click)="newTap(keg)">New Tap</button>

  </div>
</div>
<div class="editAndNew">


  <div class="nameEdit" *ngIf="selectedKeg">
    <h1>{{selectedKeg.brand}}</h1>
    <label>Enter New Keg Name for:</label>
    <input type="text" [(ngModel)]="selectedKeg.name">
    <br>
    <label>Edit Beer Type</label>
    <input type="text" [(ngModel)]="selectedKeg.type">

    <button (click)=finishEditing()>Submit</button>
  </div>


  <!-- form to add new beer to objects -->
  <div [class]="newBeerDiv">

    <label for="brand">Beer Brand</label>
    <input type="text" id="brand">
    <br>
    <label for="name">Beer Name</label>
    <input type="text" id="name">
    <br>
    <label for="price">Beer Price</label>
    <input type="number" id="price">
    <br>
    <label for="content">Alcohol Content</label>
    <input type="text" id="content">
    <br>
    <label for="type">Beer Type</label>
    <input type="text" id="type">
    <br>
    <button (click)=newBeer()>Submit</button>
</div>
  </div>
