.container {
  display: flex;
  flex-flow: row wrap;
  width: 80vw;
  justify-content: space-around;
}

.kegDiv {
  background-image: url("../assets/images/keg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30%;
  margin: 5px;
  border: 1px dotted black;
  padding: 2px;
}

.brandHeader {
  text-decoration: underline;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  margin: 2px;
}

.editAndNew {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
}
